absl-py==1.4.0
aeppl==0.0.38
aesara==2.8.7
aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
anaconda==0.0.1.1
ansi2html==1.8.0
anyio==3.6.2
appdirs==1.4.4
arviz==0.12.1
aspose-cells==22.10.0
aspose-words==22.10.0
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.12.2
black==23.1.0
blis==0.7.8
branca==0.5.0
broke==0.1.1
Brotli==1.1.0
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.6.15
cftime==1.6.2
chardet==5.0.0
charset-normalizer==2.1.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.0
colorama==0.4.6
cons==0.4.5
constantly==15.1.0
construct==2.10.68
contourpy==1.1.0
cramjam==2.5.0
cycler==0.11.0
cymem==2.0.6
dacite==1.8.1
dash==2.14.1
dash-bootstrap-components==1.3.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
data==0.4
databases==0.6.2
dataclasses-json==0.5.14
datefinder==0.7.3
DateTime==4.7
debugpy==1.6.2
decorator==5.1.1
distlib==0.3.5
dnspython==2.2.1
docker==6.0.0
dtale==3.7.0
entrypoints==0.4
et-xmlfile==1.1.0
etuples==0.3.8
executing==0.9.1
extensions==0.4
fastapi==0.109.1
fastparquet==0.8.3
fastprogress==1.0.3
file-magic==0.4.1
filelock==3.7.1
finder==1.0.2
Fiona==1.8.22
Flask==2.2.2
Flask-Compress==1.14
Flask-Cors==4.0.0
flask-ngrok==0.0.25
flatbuffers==23.5.26
flow==0.0.1
folium==0.13.0
fonttools==4.34.4
frozenlist==1.3.3
fsspec==2022.8.2
funcsigs==1.0.2
future==0.18.2
gast==0.4.0
geocoder==1.38.1
geographiclib==1.52
geopandas==0.12.1
geopy==2.2.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==1.1.3.post0
grpcio==1.56.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.9.0
helper==2.5.0
helpers==0.2.0
htmlmin==0.1.12
httptools==0.5.0
hyperlink==21.0.0
idna==3.4
ImageHash==4.3.1
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==6.8.0
incremental==21.3.0
ipykernel==6.15.1
ipython==8.13.2
itsdangerous==2.1.2
jax==0.4.13
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
JPype1==1.4.0
json5==0.9.14
jsonlint==0.1
jupyter-client==7.3.4
jupyter-core==4.11.1
kaleido==0.2.1
keras==2.12.0
kiwisolver==1.4.4
langchain==0.0.292
langcodes==3.3.0
langsmith==0.0.37
libclang==16.0.0
libmagic==1.0
llvmlite==0.39.1
logical-unification==0.4.5
lz4==4.3.2
Markdown==3.4.3
MarkupSafe==2.1.1
marshmallow==3.20.2
matplotlib==3.8.1
matplotlib-inline==0.1.3
miniKanren==1.0.3
missingno==0.5.1
ml-dtypes==0.2.0
mssql==1.0.1
multidict==6.0.4
multimethod==1.9.1
multipledispatch==0.6.0
munch==2.5.0
murmurhash==1.0.7
mypy-extensions==1.0.0
mysqlclient==2.1.1
nest-asyncio==1.5.5
netCDF4==1.6.1
networkx==3.1
nltk==3.7
numba==0.56.3
numexpr==2.8.6
numpy==1.23.1
oauthlib==3.2.2
openai==0.27.6
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==23.0
pandas==2.1.3
pandas-profiling==3.6.6
pandasai==0.2.12
pandasgui==0.2.13
parso==0.8.3
pathspec==0.11.0
pathy==0.6.2
patsy==0.5.3
pefile==2022.5.30
phik==0.12.3
pickleshare==0.7.5
Pillow==9.2.0
pipenv==2022.8.5
platformdirs==3.1.0
plotly==5.11.0
ply==3.11
preshed==3.0.6
prompt-toolkit==3.0.30
protobuf==4.23.3
psutil==5.9.1
psycopg2==2.9.5
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.3.0
pycryptodomex==3.15.0
pydantic==1.10.6
pygame==2.4.0
pygeocoder==1.2.5
Pygments==2.12.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pymc==4.2.2
pymongo==4.3.2
PyMySQL==1.0.2
pynput==1.7.6
pyodbc==4.0.35
pyparsing==3.0.9
pypng==0.20220715.0
pyproj==3.4.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pysmi==0.3.4
pysnmp==4.4.12
python-dateutil==2.8.2
python-dotenv==1.0.0
python-magic==0.4.27
pytube==12.1.0
pytz==2022.1
PyWavelets==1.4.1
pywin32==304
pywin32-ctypes==0.2.0
PyYAML==6.0
pyzmq==23.2.0
qrcode==7.4.2
qtstylish==0.1.5
ratelim==0.1.6
regex==2022.8.17
requests==2.28.1
requests-oauthlib==1.3.1
retrying==1.3.4
rollbar==0.16.3
rsa==4.9
scikit-learn==1.1.2
scipy==1.9.0
seaborn==0.13.0
shap==0.41.0
Shapely==1.8.5.post1
six==1.16.0
sklearn==0.0
slicer==0.0.7
smart-open==5.2.1
sniffio==1.3.0
soupsieve==2.4
spacy==3.4.1
spacy-legacy==3.0.9
spacy-loggers==1.0.3
sql==2022.4.0
SQLAlchemy==1.4.41
sqlparse==0.4.4
squarify==0.4.3
srsly==2.4.4
stack-data==0.3.0
starlette==0.35.1
stats==0.1.2a0
statsmodels==0.13.2
strsimpy==0.2.1
style==1.1.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.1.0
tensor==0.3.6
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
textblob==0.17.1
thinc==8.1.0
threadpoolctl==3.1.0
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
Twisted==22.4.0
twisted-iocpsupport==1.0.2
typeguard==2.13.3
typer==0.4.2
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
up==0.2.1
update==0.0.1
urllib3==1.26.11
uvicorn==0.27.0.post1
vanna==0.0.21
virtualenv==20.16.3
virtualenv-clone==0.5.7
visions==0.7.5
vobject==0.9.6.1
wasabi==0.10.1
watchfiles==0.18.1
wcwidth==0.2.5
websocket-client==1.4.1
websockets==11.0.3
Werkzeug==2.2.2
whisper==1.1.10
wordcloud==1.9.2
wrapt==1.14.1
xarray==2022.10.0
xarray-einstats==0.3.0
xgboost==1.7.0
xlrd==2.0.1
yarl==1.8.2
ydata-profiling==4.5.1
youtube.py==2.1.0
zipp==3.17.0
zope.interface==5.4.0
